@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  background: url("../textured_paper.png");
}
#umain{
  width: 100%;
  height: 200px;
}
#u10main{
  color: white;
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}
#u10go{
  color: white;
  text-decoration: none;
  background: #aaa;
  width: 40%;
  font-family: 'Lato',sans-serif;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 5px;
  transition: background 0.45s;
  padding: 5px;
}
#u10go:hover{
  background: rgba(170,170,170,.5);
}
#u9main{
  font-family: 'Lato',sans-serif;
  font-size: 2em;
  text-align: center;
  z-index: 3;
}
#u9content{
text-align: left;
font-size: 1.5em;
font-family: 'Lato',sans-serif;
z-index: 3;
}
#u11main{
  color: white;
  text-align: center;
  font-size: 200%;
  margin-top: 10%;
}
#u9{
  filter: brightness(90%);
  color: black;
}
#u11{
  width: 40%;
  height: 30%;
  float: right;
  transition: filter 0.9s;
  text-decoration: none;
  color: white;
  font-family: 'Lato',sans-serif;
  background: #000;
  box-shadow: inset 0px 0px 4px #eee;
  text-align: center;
  color: white;
  font-size: 2em;
}
#u11:hover{
  filter: brightness(50%);
}
#u9{
  width: 60%;
  height: 80%;
  float: left;
}
#u10{
  width: 40%;
  height: 50%;
  float: right;
  text-align: center;
  z-index: 3;
  background: #111;
  box-shadow: inset 0px 0px 4px #eee;
}
.background-rect{
  transform: skewY(-0deg);
  opacity: .5;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.rect-one{
  /*Background pattern from: subbtlepatterns.com */
  background-image: url("connectwork.png");
  width: 100%;
  height: 100%;
}
/*.rect-second{
  /*Background pattern from: subbtlepatterns.com
  background-image: url("spiration dark.png");
  width: 40%;
  height: 50%;
  left: 60%;
  transform-origin: top left;
  margin-left: auto;
  opacity: .5;
  float: right;
}*/

@media screen and (max-width: 1024px)
{
  #umain{
    width: 100%;
    height: 80%;
    position: absolute; top: 20%; left: 0px;
  }
  #u9{
    width: 100%;
    height: 130px;
  }
  #u10{
    height: 130px;
  }
  #u10,#u11{
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 582px)
{
  #u9content{
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px){
  #u9,#u10,#u11{
    width: 100%;
    height: 33%;
  }
  #u9content{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
  }
  #u10{
    top: 33%;
  }
  #u11{
    top: 66%;
    margin-top: 0px;
  }
}
@media screen and (max-width: 375px)
{
  #u9content{
    font-size: 1.1em;
  }
}
