@import url('https://fonts.googleapis.com/css?family=Lato');

body::-webkit-scrollbar{
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-track{
  background: #11111f;
}
body::-webkit-scrollbar-thumb{
  background: rgba(10,10,255,0.7);
}
body::-webkit-scrollbar-thumb:active{
  background: rgba(10,10,255,0.5);
}
body::-webkit-scrollbar-button{
  background: #11111f;
}
body::-webkit-scrollbar-button:vertical:decrement{
  background: #11111f url("upArrow.png") 0px 2px no-repeat;
}
body::-webkit-scrollbar-button:vertical:increment{
  background: #11111f url("downArrow.png") no-repeat;
}            
    /*
  #u1{
    width: 100%;
    position: fixed; top: 0px; left: 0px;
    height: 15%;
    z-index: 5;
    background: rgba(11,11,11,1);
  }
  #u1 > #u2{
    height: 100%;
    width: 12.5%;
    position: absolute; top: 0px; left: 0px;
    text-align: center;
  }
  #u2 > #u2i{
    height: 100%;
    width: auto;
  }
  #u2i{
    transition: background 0.5s;
  }
  #u2i:hover{
    background: #2999ff;
  }
  #u3,#u4,#u5,#u6,#u7,#u8,#u9d{
    width: 12.5%;
    height: 70%;
    color: white;
    font-size: 150%;
    font-family: 'Lato',sans-serif;
    text-decoration: none;
    position: absolute; top: 0px; left: 12.5%;
    text-align: center;
    transition: background 0.4s;
    padding-top: 2%;
  }
 .menDesc{
    margin-top: 10%;
  }
  .menDescLower{
    margin-top: 6%;
  }
  #u3:hover,#u4:hover,#u5:hover,#u6:hover,#u7:hover,#u8:hover,#u9d:hover{
    background: #2999ff;
  }
  #u4{
    position: absolute; top: 0px; left: 25%;
  }
  #u5{
    position: absolute; top: 0px; left: 37.5%;
  }
  #u6{
    position: absolute; top: 0px; left: 50%;
  }
  #u7{
    position: absolute; top: 0px; left: 62.5%;
  }
  #u8{
    position: absolute; top: 0px; left: 75%;
  }
  #u9d{
    position: absolute; top: 0px; left: 87.5%;
  }
  #upanelopen{
    display: none;
  }
  #upanel{
    display: none;
  }
  #upanelofical{
    display: block;
  }
  #umain{
    width: 100%;
    height: 85%;
    position: absolute; top: 15%; left: 0px;
  }
}


@media screen and (max-width: 1024px)
{
  #u1{
    width: 100%;
    position: fixed; top: 0px; left: 0px;
    height: 20%;
    background: #111;
    z-index: 5;
  }
  #u1 > #u2{
    height: 100%;
    width: 25%;
    position: absolute; top: 0px; left: 0px;
    text-align: center;
  }
  #u2 > #u2i{
    height: 100%;
    width: auto;
  }
  #u2i{
    transition: background 0.5s;
  }
  #u2i:hover{
    background: #2999ff;
  }
  #upanel{
    width: 100%;
    height: 80%;
    background: #111;
    z-index: 6;
    position: fixed; top: 20%; left: 0px;
    display: none;
  }
  .menDesc,.menDescLower{
    margin-top: 0%;
  }
  #upanelopen{
    width: 70%;
    height: 100%;
    position: absolute; top: 0px; left: 30%;
    Background pattern from: subltepatterns.com
    background: url("../connectwork.png");
    border: none;
    color: white;
    font-size: 250%;
    font-family: Verdana;
    transition: filter 0.45s;
    cursor: pointer;
    box-shadow: 2px 2px #111 inset;
    z-index: 5;
  }
  #upanelofical{
    display: none;
  }
  #upanelopen:hover{
    filter: blur(1px);
  }
  #u3,#u4,#u5,#u6,#u7,#u8,#u9d{
    width: 30%;
    height: 20%;
    background: #111;
    transition: background 0.45s;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 175%;
    position: absolute; top: 10%; left: 3%;
    text-align: center;
    font-family: Verdana;
    display: table-cell;
    vertical-align: middle;
  }
  #u4{
    position: absolute; top: 10%; left: 35%;
  }
  #u5{
    position: absolute; top: 10%; left: 67%;
  }
  #u6{
    position: absolute; top: 32%; left: 3%;
  }
  #u7{
    position: absolute; top: 32%; left: 35%;
  }
  #u8{
    position: absolute; top: 32%; left: 67%;
  }
  #u9d{
    position: absolute; top: 54%; left: 35%;
  }
  #u3:hover,#u4:hover,#u5:hover,#u6:hover,#u7:hover,#u8:hover,#u9d:hover{
    background: #887888;
  }
  #umain{
    width: 100%;
    height: 80%;
    position: absolute; top: 20%; left: 0px;
  }

}
@media screen and (max-width: 550px){
  #u1{
    width: 100%;
    position: fixed; top: 0px; left: 0px;
    height: 20%;
    background: #111;
    z-index: 5;
  }
  #u1 > #u2{
    height: 100%;
    width: 25%;
    text-align: center;
  }
  #u2 > #u2i{
    height: 90%;
    width: auto;
  }
  #u2i{
    transition: background 0.5s;
  }
  #u2i:hover{
    background: #2999ff;
  }
  #upanel{
    width: 100%;
    height: 80%;
    background: #111;
    z-index: 6;;
    position: fixed; top: 20%; left: 0px;
    display: none;
  }
  #upanelofical{
    display: none;
  }
  #u3,#u4,#u5,#u6,#u7,#u8,#u9d{
    width: 45%;
    height: 20%;
    background: #111;
    transition: background 0.45s;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 175%;
    position: absolute; top: 10%; left: 4%;
    text-align: center;
    font-family: Verdana;
  }
  #u4{
    position: absolute; top: 10%; left: 51%;
  }
  #u5{
    position: absolute; top: 32%; left: 4%;
  }
  #u6{
    position: absolute; top: 32%; left: 51%;
  }
  #u7{
    position: absolute; top: 54%; left: 4%;
  }
  #u8{
    position: absolute; top: 54%; left: 51%;
  }
  #u9d{
    position: absolute; top: 76%; left: 27.5%;
  }
  #u3:hover,#u4:hover,#u5:hover,#u6:hover,#u7:hover,#u8:hover,#u9d:hover{
    background: #887888;
  }
  #umain{
    width: 100%;
    height: 80%;
    position: absolute; top: 20%; left: 0px;
  }
}
@media screen and (max-width: 384px){
  #u1{
    width: 100%;
    position: fixed; top: 0px; left: 0px;
    height: 20%;
    background: #111;
    z-index: 5;
  }
  #u1 > #u2{
    height: 100%;
    width: 25%;
    position: absolute; top: 0px; left: 0px;
    text-align: center;
  }
  #u2i{
    transition: background 0.5s;
  }
  #u2i:hover{
    background: #2999ff;
  }
  #upanel{
    width: 100%;
    height: 80%;
    background: #111;
    z-index: 6;
    position: fixed; top: 20%; left: 0px;
    display: none;
  }
  #u3,#u4,#u5,#u6,#u7,#u8,#u9d{
    width: 70%;
    height: 10%;
    background: #111;
    transition: background 0.45s;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 150%;
    position: absolute; top: 10%; left: 15%;
    text-align: center;
    font-family: Verdana;
  }
  #u4{
    position: absolute; top: 22%; left: 15%;
  }
  #u5{
    position: absolute; top: 34%; left: 15%;
  }
  #u6{
    position: absolute; top: 46%; left: 15%;
  }
  #u7{
    position: absolute; top: 58%; left: 15%;
  }
  #u8{
    position: absolute; top: 70%; left: 15%;
  }
  #u9d{
    position: absolute; top: 82%; left: 15%;
  }
  #u3:hover,#u4:hover,#u5:hover,#u6:hover,#u7:hover,#u8:hover,#u9d:hover{
    background: #887888;
  }
  #umain{
    width: 100%;
    height: 80%;
    position: absolute; top: 20%; left: 0px;
  }
  #upanelofical{
    display: none;
  }
}


*/




.left_li {
  float: left;
}

.right_li {
  float: right;
}

.navlink {
  display: block;
  color: #000;
  text-align: center;
  padding: 22px 27px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.navlink:hover {
  background-color: #eee;
}

#logo {
    height: 63px;
    padding-left: 5px;
    padding-right: 5px;
}




#upanel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 20px 0px rgba(140,0,0,0.6);
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;

}
#umain{
  margin-top: 67px;
}
    

