@import url('https://fonts.googleapis.com/css?family=Lato');

body::-webkit-scrollbar{
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-track{
  background: #11111f;
}
body::-webkit-scrollbar-thumb{
  background: rgba(10,10,255,0.7);
}
body::-webkit-scrollbar-thumb:active{
  background: rgba(10,10,255,0.5);
}
body::-webkit-scrollbar-button{
  background: #11111f;
}
body::-webkit-scrollbar-button:vertical:decrement{
  background: #11111f url("upArrow.png") 0px 2px no-repeat;
}
body::-webkit-scrollbar-button:vertical:increment{
  background: #11111f url("downArrow.png") no-repeat;
}            




.left_li ,.image_li{
  float: left;
}

.right_li ,.navOpening{
  float: right;
}

.navlink {
  display: block;
  color: #000;
  text-align: center;
  padding: 22px 27px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.navlink:hover {
  background-color: #eee;
}

#logo {
    height: 63px;
    padding-left: 5px;
    padding-right: 5px;
}




#upanel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 20px 0px rgba(140,0,0,0.6);
  z-index: 6;
  position: fixed;
  top: 0px;
  width: 100%;

}
#umain{
  margin-top: 67px;
}
.navOpening{
  display: none;
}
.links-container{
  display: block;
}
@media screen and (max-width: 967px){
  .left_li,.right_li{
    float: left;
    width: 100%;
    display: block;
  }
  .links-container{
    display: none;
  }
  .navlink{
    font-size: 14px;
  }
  .navOpening{
    display: block;
    text-align: center;
    padding-top: 12px;
    margin-right: 6px;
    cursor: pointer;
    width: 40px;
  }
  .navOpening span{
    width: 40px;
    height: 9px;
    background: black;
    display: block;
    margin-bottom: 6px;
  }
  .navOpening > .theLastOne{
    margin-bottom: 0px;
  }
}

