@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  margin: 0;
  padding: 0;
}
.u10t{
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-family: 'Oswald',sans-serif;
}
.u10i,.u10a{
  width: calc(100% - 20px);
  float: left;
  padding: 10px;
}
.u10i{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.u10ia,.u10at{
  font-size: 2em;
  padding: 5px;
  font-family: 'Lato',sans-serif;
  margin-left: 10px;
}
.u10ic,.u10ac{
  font-size: 1.2em;
  font-family: 'Lato',sans-serif;
  padding: 3px;
  margin-left: 7px;
}
.u10al{
  padding: 10px;
  color: #a70000;
  font-size: 1.3em;
  font-family: 'Lato',sans-serif;
}
@media screen and (max-width: 743px){
  * {
    text-align: center;
    margin-left: 0px;
  }
}
@media screen and (max-width: 423px){
  .u10t{
    font-size: 2.5em;
  }
  .u10ia,.u10at{
    font-size: 1.5em;
  }
  .u10ic,.u10ac{
    font-size: 1em;
  }
}