@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
  margin: 0;
  padding: 0;
}
.u10t{
  width: calc(100% - 20px);
  text-align: center;
  padding: 10px;
  font-size: 1.7em;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 20px;
}
.u11f{
  width: 100%;
  text-align: center;
}
.describe{
  width: calc(90% - 10px);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-family: 'Lato',sans-serif;
  margin-bottom: 20px;
}
input[type=email] {
  width: 30%;
  height: 40px;
  padding: 10px;
  margin: 5px 0px;
  margin-bottom: 10px;
}
button[type=submit] ,button[class="u11fsub"]{
  background-color: #ccc;
  border: 1px solid black;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: filter 0.4s;
}
button[type=submit]:hover,button[class="u11fsub"]:hover{
  filter: brightness(70%);
}
.u11done{
  margin-bottom: 20px;
}
@media screen and (max-width: 849px){
  button[type=submit] ,button[class="u11fsub"]{
    padding: 10px;
  }
  input[type=email]{
    width: 60%;
  }
}
@media screen and (max-width: 442px){
  input[type=email]{
    width: 80%;
  }
}
@media screen and (max-width: 330px){
  button[type=submit] ,button[class="u11fsub"]{
    font-size: 0.9em;
  }
}
