@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  margin: 0;
  padding: 0;
}
.umain{
  margin-top: 67px;
}
.u10title{
  width: inherit;
  text-align: center;
  font-size: 3.2em;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 28px;
}
.u11pass,.u11del,.u11promotion{
  width: 50%;
  float: left;
  text-align: center;
}
.u11promotion{
  width: 100%;
}
.uheader{
  font-size: 2em;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 20px;
}
.u11passil{
  margin-bottom: 5px;
}
.final-input{
  margin-bottom: 20px;
}
.u11passi{
  padding: 4px;
  font-size: 1em;
  font-family: 'Lato',sans-serif;
  margin: 5px;
}
.u11pass_submit{
  background-color: #ccc;
  border: 1px solid black;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Oswald',sans-serif;
  transition: filter 0.4s;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
[class="u11pass_submit"]:hover{
  filter: brightness(70%);
}
.u11promcontheader{
  margin-bottom: 20px;
  font-size: 1em;
  font-family: 'Lato',sans-serif;
}
.u11promcont{
  font-size: 0.9em;
  font-family: 'Lato',sans-serif;
  padding: 10px;
  margin: 5px;
  min-width: 50%;
  max-width: 60%;
  height: 170px!important;
}
@media screen and (max-width: 964px){
  .u11pass,.u11del{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    border-bottom-width: 90%;
  }
}
@media screen and (max-width: 531px){
  .uheader{
    font-size: 1.5em;
  }
  .u11promcont{
    min-width: 70%;
    max-width: 80%;
  }
}
@media screen and (max-width: 460px){
  .uheader{
    font-size: 1.2em;
  }
}
@media screen and (max-width: 360px){
  .u11promcontheader{
    font-size: 0.8em;
  }
  .u10title{
    font-size: 2.7em;
  }
}
