#u10header{
  width: 100%;
  height: 10%;
  position: absolute; top: 0px; left: 0px;
  text-align: center;
  font-size: 1.7em;
  color: white;
  font-family: Verdana;
  font-style: italic;
  /*Background pattern from: subltepatterns.com*/
  background: url("../curls.png");
}
#u11content{
  width: 100%;
  position: absolute; top: 10%; left: 0px;
  /*Background pattern from: subltepatterns.com*/
  background: url("../connectwork.png");
  color: #fffffe;
  padding-bottom: 10px;
}
#u11collecting,#u11datacontent,#u11admin,#u11remove{
  text-align: left;
  font-family: Verdana;
  font-weight: bold;
  font-size: 1.4em;
  color: #fffffe;
  margin-left: 10px;
}
#u11collectinge,#u11datacontente,#u11admine,#u11removee{
  font-family: Verdana;
  text-align: left;
  font-size: 1.1em;
  margin-left: 30px;
}
#u11datacontente{

}
