@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
  margin: 0;
  padding: 0;
}
.umain{
  width: 100%;
  margin-top: 70px;
}
.u10header{
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-family: 'Lato',sans-serif;
  margin-bottom: 20px;
}
.u11collecting,.u11collectinge,.u11datacontent{
  padding: 5px;
  font-size: 1.8em;
  font-family: 'Oswald',sans-serif;
}
.u11collectinge{
  font-size: 1.4em;
  padding: 2px;
  margin-bottom: 60px;
}
.u11datacontente{
  list-style-position: inside;
}
.u11datacontente li{
  font-size: 1.2em;
  font-family: 'Lato',sans-serif;
}
.u11datacontente ul{
  margin-bottom: 20px;
}
.u11admin,.u11remove{
  font-size: 1.5em;
  font-family: 'Oswald',sans-serif;
  padding: 4px;
  margin-bottom: 10px;
}
.u11admine,.u11removee{
  font-size: 1.2em;
  font-family: 'Oswald',sans-serif;
  padding: 2px;
  margin-bottom: 15px;
}
.u11separator{
  width: calc(100% - 20px);
  background: black;
  float: left;
}
@media screen and (max-width: 970px){
  .umain{
    text-align: center;
  }
  .u11datacontente ul{
    text-align: center;
  }
  .u11datacontente li{
    width: 300px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .u11collectinge{
    font-size: 1.2em;
    width: calc(80% - 20px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .u11removee,.u11admine{
    font-size: 1.1em;
  }
  .u11remove{
    padding-bottom: 30px;
  }
  .u11removee{
    width: calc(70% - 20px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .u11separator{
    margin-top: 35px;
    margin-bottom: 10px;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 488px){
  .u11remove{
    font-size: 1.15em;
  }
  .u11removee{
    font-size: 1em;
    font-family: 'Lato',sans-serif;
    width: calc(90% - 20px);
  }
}
@media screen and (max-width: 425px){
  .u11datacontent{
    font-size: 1.5em;
  }
  .u11datacontente li{
    font-size: 1em;
    margin-left: 0px;
    margin-right: auto;
  }
  .u11collectinge{
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 361px){
  .u10header{
    font-size: 2.4em;
    width: inherit;
  }
  .u11collecting{
    font-size: 1.5em;
  }
  .u11collectinge{
    font-size: 1.1em;
    width: calc(100% - 20px);
  }
  .u11removee{
    width: calc(100% - 20px);
  }
  .u11admin{
    font-size: 1.4em;
    padding-bottom: 30px;
  }
  .u11admine{
    font-size: 0.9em;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
  }
  .u11datacontent{
    font-size: 1.2em;
  }
  .u11datacontente li{
    font-size: 0.88em;
  }
}