.background0{
    background: url("../soundImages/Orion_Belt.jpg");
}
.background1{
    background: url("../soundImages/StoneyWay_Jacobs_960.jpg");
}
.background2{
    background: url("../soundImages/RhoOph_WISE_960.jpg");
}
.background3{
    background: url("../soundImages/AS14-71-9845v2wmktwtr4Jerry1024_smaller2.jpg");
}
.background4{
    background: url("../soundImages/NGC1532-final3_1024r.jpg");
}
/* Background from: apod.nasa.gov */