@import url("filters/filters.css");
@import url("articles/articles.css");
#u10bar{
  width: 100%;
  height: 7%;
  /*Background pattern from: subtlepatterns.com*/
  background: url("../connectwork.png");
  position: fixed; top: 15%; left: 0px;
  color: white;
  text-align: center;
  font-size: 1.8em;
  font-family: cursive;
  transition: background 0.45s;
  cursor: pointer;
  z-index: 4;
  box-shadow: inset 1px 1px 10px #111;
}
#u10bar:hover{
  /*Background pattern from: subtlepatterns.com*/
  background: url("../curls.png");
}

#u10filtersbar{
  width: 100%;
  height: 5%;
  /*Background pattern from: subtlepatterns.com*/
  background: url("../dark-grey-terrazzo.png");
  position: fixed; top: 22%; left: 0px;
  display: none;
  z-index: 4;
}
.u11{
  width: 100%;
  height: 120%;
  position: absolute; top: 20%; left: 0%;
  z-index: 3;
}
@media screen and (max-width: 1024px)
{
#u10bar{
  top: 20%;
}
#u10filtersbar{
  top: 27%;
}
#u10wordsAdvance,#u10nameAdvance,#u10sortAdvance{
  top: 32%;
}
}
