@import url("filters/filters.css");
@import url("articles/articles.css");
@import url("images/imagesMain.css");

* {
    padding: 0;
    margin: 0;
}

#u10bar{
  width: 80%;
  height: 45px;
  background: #aaa;
  position: relative; 
  top: 40px; 
  left: 10%;
  text-align: center;
  font-size: 1.6em;
  font-family: 'Lato',sans-serif;
  transition: filter 0.45s;
  cursor: pointer;
  z-index: 4;
  border-radius: 5px;
  padding-top: 10px;
}


#u10bar:hover{
  filter: brightness(70%);
}

#u10filtersbar{
  width: 80%;
  height: 5%;
  background: #aaa;
  border-radius: 5px;
  position: fixed; top: 30%; left: 10%;
  display: none;
  z-index: 4;
  box-shadow: inset 1px 1px 10px #777;
}
#u11choosing{
    width: 100%;
    height: 60px;
    position: relative; 
    top: 40px;
    left: 0px;
    text-align: center;
    z-index: 4;
}
.u11,.u12{
  width: 100%;
  height: 120%;
  position: absolute; top: 20%; left: 0%;
  z-index: 3;
}
.u12{
  display: none;
  top: 13%;
}
/*
@media screen and (max-width: 1024px)
{
  #u11choosing{
    top: 20%;
  }
#u10bar{
  top: 27%;
}
#u10filtersbar{
  top: 35%;
}
#u10tagsAdvance,#u10wordsAdvance,#u10nameAdvance,#u10sortAdvance{
  top: 40%;
}
}
@media screen and (max-width: 800px)
{
  #u10bar{
    width: 100%;
    left: 0px;
  }
  #u10filtersbar{
    width: 100%;
    left: 0px;
  }
}
*/