@import url("filters/filters.css");
@import url("articles/articles.css");
@import url("images/imagesMain.css");
@import url("sounds/soundPatch.css");

* {
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
}




#u10bar{
  width: 80%;
  height: 45px;
  background: #eee;
  border: 1px solid #ccc;
  top: 30px;
  left: 10%;
  text-align: center;
  font-size: 1.6em;
  font-family: 'Lato',sans-serif;
  transition: filter 0.45s;
  cursor: pointer;
  z-index: 4;
  position: relative;
  border-radius: 5px;
  padding-top: 10px;
}

#u10bar:hover{
  background: #ddd;
}








#u10filtersbar{
  width: 80%;
  height: 5%;
  position: relative; top: 30%; left: 10%;
  display: none;
  z-index: 4;
    background: #eee;
}

#u11choosing{
    width: 100%;
    height: 60px;
    position: relative; 
    top: 40px;
    left: 0px;
    text-align: center;
    z-index: 4;
}

.u11,.u12,.u13{
  width: 100%;
  height: 120%;
  z-index: 3;
}
.u11list,.u12wrapper,.u13wrapper{
  margin-top: 71px;
}
.u12,.u13{
  display: none;
}
@media screen and (max-width: 786px){
  #u10bar,#u10filtersbar{
    width: 85%;
    left: 7.5%;
  }
}
@media screen and (max-width: 460px){
  #u10bar{
    font-size: 1em;
    height: auto;
    padding: 10px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}