#u10connectionfail,#u10connection{
  width: 98%;
  position: absolute; top: 10%; left: 1%;
  /*Background pattern from: subtlepatterns.com*/
  background: url("../connectwork.png");
  font-family: Verdana;
  box-shadow: 0px 5px 5px #111;
  padding: 1px;
}
#u10connectionfail{
  height: 40%;
}
#u10connection{
  margin-bottom: 10px;
}
.u10cfheader{
  width: 90%;
  font-size: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: white;
  margin-bottom: 20px;
  font-family: Arial;
}
#u10cfmain{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  text-align: left;
  /*Background pattern from: subtlepatterns.com*/
  background: url("../textured_paper.png");
  box-shadow: 0px 5px 5px #111;
  margin-bottom: 10px;
  line-height: 35px;
  padding: 15px;
}
#u10cv{
  /*Background pattern from: subtlepatterns.com*/
  background: url("../textured_paper.png");
  font-family: Arial;
  width: 100%;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
#u10rl{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: none;
  /*Background from: https://www.iconfinder.com/icons/3844426/approve_hand_like_thumb_up_icon*/
  background: url("likes/like.png");
  background-size: cover;
  transition: all 0.4s;
  cursor: pointer;
}
#u10rl:hover{
  filter: brightness(70%) blur(2px);
}
.u10tq{
  padding: 2px;
}
.comments{
  width: 100%;
  float: left;
  text-align: center;
}
.commentContent{
  width: 70%;
  min-height: 100px;
  max-height: 100px;
  min-width: 70%;
  max-width: 70%;
  font-size: 1.3em;
  font-family: Helvetica, sans-serif;
  border-radius: 2px;
}
.commentSubmit{
  width: 30%;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  margin-top: 9px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 3px;
}
.showingComments{
  font-size: 1.3em;
  font-family: Helvetica, sans-serif;
  /*Background pattern from: subltepatterns.com*/
  background: url("../textured_paper.png");
  margin-top: 20px;
}
.noCommentHere{
  font-size: 1.7em;
}
.commentContainer{
  display: block;
  padding: 2px;
}
.commentFrom{
  font-size: 1.4em;
  float: left;
  margin-left: 60px;
  width: calc(100% - 60px);
  text-align: left;
  margin-bottom: 9px;
}
.commentContentNow{
  text-align: left;
  width: calc(100% - 20px);
  float: left;
  margin-left: 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.yourComment{
  background: rgba(69,69,69,0.4);
}
@media screen and (max-width: 600px)
{
  .u10cfheader{
    font-size: 1.5em;
  }
  #u10connection{
    width: 98%;
    left: 1%;
  }
  #u10cv{
    width: 98%;
  }
}
