body{
  margin: 0;
  padding: 0;
}
.u10connectionfail,.u10connection{
  width: 70%;
  margin: auto;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  margin-top: 70px;
    color:#333
}


.u10connectionfail{
  height: 40%;
}
.u10connection{
  margin-bottom: 10px;
}
.u10cfheader{
  width: 90%;
  font-size: 2.4em;
    font-weight: bold;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #333;
  margin-bottom: 20px;
  font-family: Arial;
}
.u10cfmain{
  padding: 5px;
  margin: auto;
  font-size: 1.4em;
  margin-bottom: 10px;
  line-height: 35px;
  padding: 15px;
}
.u10cv{
  font-family: Arial;
  width: 100%;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
#u10rl{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: none;
  /*Background from: https://www.iconfinder.com/icons/3844426/approve_hand_like_thumb_up_icon*/
  background: url("likes/like.png");
  background-size: cover;
  transition: all 0.4s;
  cursor: pointer;
}
#u10rl:hover{
  filter: brightness(70%) blur(2px);
}
.u10tq{
  padding: 2px;
}
.comments{
  width: 100%;
  float: left;
  text-align: center;
}
.commentContent{
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  max-height: 100px;
  min-width: 50%;
  max-width: 50%;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 5px;
    background: #eee;
    margin-top: 20px;
}
.commentSubmit{
  width: calc(30% - 20px);
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
  margin-top: 9px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:#333;
  padding: 10px;
  cursor: pointer;
  transition: filter 0.4s;
}
button[class="commentSubmit"]:hover{
  filter: brightness(70%);
}
.showingComments{
  font-size: 15px;
  font-family: "Lato", sans-serif;
  border: 1px solid #ddd;
  margin-top: 20px;
    margin-bottom: 40px;
    color: #333;
    background: #eee;
    
}
.noCommentHere{
  font-size: 1.7em;
}
.commentContainer{
  display: block;
  padding: 2px;
}
.commentFrom{
  font-size: 1.4em;
  float: left;
  margin-left: 60px;
  width: calc(100% - 60px);
  text-align: left;
  margin-bottom: 9px;
}
.commentContentNow{
  text-align: left;
  width: calc(100% - 20px);
  float: left;
  margin-left: 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}
.yourComment{
  background: rgba(69,69,69,0.4);
}

.photos-section{
  width: calc(100% - 20px);
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-container{
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.added-image{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #111;
}

@media screen and (max-width: 1000px){
  .u10cfmain{
    font-size: 1.2em;
    line-height: 27px;
  }
  .u10cfheader{
    font-size: 2em;
  }
}
@media screen and (max-width: 903px){
  .commentContent{
    min-width: 70%;
    max-width: 70%;
  }
  .commentFrom{
    font-size: 1.2em;
  }
  .commentContentNow{
    font-size: 1em;
  }
}
@media screen and (max-width: 824px){
  .commentSubmit{
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 733px){
  .u10cfmain{
    font-size: 1.1em;
    line-height: 25px;
  }
}
@media screen and (max-width: 654px){
  .commentSubmit{
    width: calc(70% - 20px);
  }
}
@media screen and (max-width: 619px){
  .u10connection{
    width: 80%;
  }
  .commentFrom{
    margin-left: 40px;
  }
  .commentContentNow{
    margin-left: 15px;
  }
}
@media screen and (max-width: 531px){
  .showingComments{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 511px){
  .commentContent{
    min-width: 85%;
    max-width: 85%;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 477px){
  .u10cfmain{
    font-size: 1.05em;
  }
  .u10connection{
    width: 85%;
  }
}
@media screen and (max-width: 409px){
  .u10cfheader{
    font-size: 1.8em;
  }
  .commentSubmit{
    font-size: 1.1em;
  }
}
@media screen and (max-width: 363px){
  .u10connection{
    width: calc(90% - 10px);
  }
  .u10cfmain{
    font-size: 1em;
    line-height: 24px;
  }
  .u10cfheader{
    font-size: 1.3em;
  }
  .commentSubmit{
    width: calc(80% - 20px);
  }
  .commentContentNow{
    font-size: 0.8em;
  }
  .commentFrom{
    font-size: 1em;
  }
}
