#u10sort,#u10name,#u10tags,#u10words{
  width: 25%;
  height: 100%;
  position: absolute; top: 0;
  color: white;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
  z-index: 3;
  font-family: Verdana;
}
#u10sort{
  left: 0;
}
#u10name{
  left: 25%;
}
#u10tags{
  left: 50%;
}
#u10words{
  left: 75%;
}
#u10sortAdvance{
  width: 20%;
  height: 10%;
  background: #999;
  position: fixed; top: 35%; left: 10%;
  display: none;
  z-index: 4;
}
#u10sortAdvance > #u10bi,#u10li{
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0%;
  text-align: center;
  font-family: Verdana;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  display: block;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}
#u10sortAdvance > #u10bi:hover,#u10li:hover{
  /*Background pattern from: subltepatterns.com*/
  background: url("../../textured_paper.png");
  font-size: 1.1em;
  color: black;
}
#u10sortAdvance > #u10bi{
  top: 0px;
}
#u10sortAdvance > #u10li{
  top: 50%;
}
#u10nameAdvance,#u10tagsAdvance{
  width: 39%;
  height: 5%;
  background: #aaa;
  position: fixed; top: 35% ; left: 30%;
  display: none;
  z-index: 4;
}
#u10tagsAdvance{
  left: 37%;
  height: 10%;
}
#u10an{
  width: 70%;
  height: 88%;
  position: absolute; top: 0px; left: 1%;
  border: none;
  border-radius: 3px;
  border: 0px solid #222;
  font-family: 'Lato',sans-serif;
}
#u10as{
  width: 20%;
  height: 100%;
  position: absolute; top: 0px; left: 75%;
  color: white;
  background: #777;
  border: none;
  border-radius: 2px;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 0.4s;
}
#u10as:hover{
  /*Background pattern from: subltepatterns.com*/
  background: url("../../textured_paper.png");
  color: black;
  transform: scale(0.98);
}
#u10pt,#u10et,#u10lt,#u10ot{
  width: 20%;
  height: 100%;
  color: black;
  background: url("../../pipes.png");
  position: absolute;
  top: 0px;
  left: 2%;
  text-align: center;
  font-size: 120%;
  font-family: Arial;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
}
#u10pt:hover,#u10et:hover,#u10lt:hover,#u10ot:hover{
  filter: blur(1px);
}
#u10et{
  left: 24%;
  font-size: 120%;
  width: 26%;
}
#u10lt{
  left: 53%;
}
#u10ot{
  left: 76%;
}
#u10wordsAdvance{
  width: 20%;
  height: 50%;
  background: #aaa;
  position: fixed; top: 35%; left: 70%;
  display: none;
  z-index: 4;
}
#u10wordsAdvance > #u10s,#u10min,#u10t,#u10f,#u10max{
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0px;
  text-align: center;
  color: white;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.5s;
  text-decoration: none;
}
#u10wordsAdvance > #u10min:hover,#u10s:hover,#u10t:hover,#u10max:hover,#u10f:hover{
  /*Background pattern from: subltepatterns.com*/
  background: url("../../textured_paper.png");
  color: black;
  font-size: 1.4em;
}
#u10min{
  top: 0px;
}
#u10s{
  top: 20%;
}
#u10t{
  top: 40%;
}
#u10f{
  top: 60%;
}
#u10max{
  top: 80%;
}

.u10soon{
  filter: brightness(70%);
}
#u10tagsAdvance{
  background: #aaa;
}
.tagsBtn{
  display: none;
}
.tagsLabel{
  /*Background pattern from: subltepatterns.com*/
  background: url("../../textured_paper.png");
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  height: 40%;
  width: 19%;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 0.5%;
  transition: all 0.4s;
  border-radius: 3px;
}
.u10tagsSubmit{
  width: 90%;
  left: 5%;
  position: absolute;
  top: 55%;
  height: 40%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  /*Background pattern from: subltepatterns.com*/
  background: url("../../textured_paper.png");
}
#u10tagsSubmit{
  transition: all 0.4s;
}
#u10tagsSubmit:hover{
  filter: brightness(50%);
}
#literature{
  left: 20.5%;
}
#science{
  left: 40.5%;
}
#entertaiment{
  left: 60.5%;
}
#other{
  left: 80.5%;
}
#politic:hover,#literature:hover,#science:hover,#entertaiment:hover,#other:hover{
  filter: brightness(50%);
}
#politicBtn:checked + #politic{
  filter: brightness(50%);
}
#literatureBtn:checked + #literature{
  filter: brightness(50%);
}
#scienceBtn:checked + #science{
  filter: brightness(50%);
}
#entertaimentBtn:checked + #entertaiment{
  filter: brightness(50%);
}
#otherBtn:checked + #other{
  filter: brightness(50%);
}
.choosingBtn{
  height: calc(100% - 6px);
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Lato',sans-serif;
  background: #aaa;
  width: 40%;
  margin-top: 3px;
  cursor: pointer;
}
button[class="choosingBtn"]{
  transition: filter 0.4s;
}
button[class="choosingBtn"]:hover{
  filter: brightness(70%);
}
@media screen and (max-width: 1150px)
{
  #u10sortAdvance > #u10bi,#u10li{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1024px)
{
  #u10tagsAdvance{
    top: 32%;
  }
}
@media screen and (max-width: 955px)
{
  #u10sortAdvance > #u10bi,#u10li{
    font-size: 0.7em;
  }
  #u10sortAdvance > #u10bi:hover,#u10li:hover{
    font-size: 0.9em;
  }
}
@media screen and (max-width: 800px)
{
  #u10nameAdvance,#u10sortAdvance,#u10tagsAdvance{
    width: 100%;
    left: 0px;
  }
  #u10wordsAdvance{
    left: 0px;
    width: 100%;
    top: 36%;
  }
  #u10wordsAdvance > #u10s,#u10min,#u10t,#u10f,#u10max{
    /*Background pattern from: subltepatterns.com*/
    background: url("../../textured_paper.png");
    color: black;
    font-size: 1.4em;
  }
  #u10sortAdvance > #u10bi,#u10li{
    /*Background pattern from: subltepatterns.com*/
    background: url("../../textured_paper.png");
    color: black;
    font-size: 1em;
  }
  .choosingBtn{
    width: 49.5%;
  }
}
@media screen and (max-width: 620px)
{
  #u10as{
    font-size: 60%;
  }
}
@media screen and (max-width: 521px)
{
  #u10nameAdvance{
    height: 10%;
  }
  #u10as,#u10an{
    height: 40%;
  }
  #u10as{
    width: 90%;
    left: 5%;
    top: 50%;
  }
  #u10an{
    width: 98%;
    left: 1%;
  }
  #u10sort,#u10name,#u10tags,#u10words{
    font-size: 1em;
  }
  #entertaiment{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 470px)
{
  #u10wordsAdvance > #u10s,#u10min,#u10t,#u10f,#u10max{
    font-size: 1.1em;
  }
  #u10wordsAdvance > #u10min:hover,#u10max:hover,#u10s:hover,#u10t:hover,#u10f:hover{
    font-size: 1.1em;
  }
  #u10max{
    font-size: 1.05em;
  }
  #u10wordsAdvance > #u10max:hover{
    font-size: 1.05em;
  }
  .tagsLabel{
    font-size: 0.7em;
  }
}
@media screen and (max-width: 405px)
{
  .choosingBtn{
    width: 48.5%;
  }
}
@media screen and (max-width: 400px)
{
  #entertaiment{
    font-size: 0.5em;
  }
}
@media screen and (max-width: 319px)
{
  #u10sortAdvance > #u10bi,#u10li{
    font-size: 0.8em;
  }
  #u10sortAdvance > #u10bi:hover,#u10li:hover{
    font-size: 0.9em;
  }
}
