@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
  margin: 0;
  padding: 0;
}
.welcomeHeader{
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  font-family: 'Oswald',sans-serif;
  font-size: 2.3em;
  margin-top: 20px;
}
.content{
  width: calc(100% - 40px);
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Oswald',sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin-top: 60px;
}
.mainSite{
  margin-top: 23px;
  border: 1px solid black;
  border-radius: 5px;
  background: #aaa;
  font-family: 'Oswald',sans-serif;
  font-size: 0.8em;
  padding: 5px;
  min-width: 150px;
  width: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: filter 0.4s;
}
button[class="mainSite"]:hover{
  filter: brightness(70%);
}
a{
  text-decoration: none;
}
@media screen and (max-width: 610px){
  .content{
    font-size: 1.5em;
  }
}