@import url("./css/statistic.css");    
@import url("./css/content.css");  
@import url("./css/articlesButtons.css"); 
* {
  margin: 0px;
  padding: 0px;
    }

body{
    overflow-x: hidden;
}
    
.umain{
  margin-top: 67px;
}
#u10bar{
  display: none;
}
#u10barContainer{
  display: none;
}
@media screen and (max-width: 1024px)
{
  #u11was{
    font-size: 1.4em;
  }
  .u11wasr{
    display: none;
  }
}
@media screen and (max-width: 810px){
  #u11a, #u11s, #u11w{
    display:block;
    width: 100%;
    height:50px;
    border:1px solid #eee;
  }
  #u11asection,#u11ssection,#u11wsection{
    margin-top: 93px;
  }
}
@media screen and (max-width: 768px){
    
  .titleInput{
    font-size: 0.5em;
  }
  .u11wtai{
    min-width: calc(80% - 20px);
    max-width: calc(80% - 20px);
  }
  #u11was{
    font-size: 1em;
    margin-bottom: 30px;
  }
  #u11atrcas,#u11atrcr,.u11delArtSumbit{
    font-size: 0.9em;
  }
  .u11wttag{
    font-size: 0.5em;
  }
}
@media screen and (max-width: 420px){
  #u11was{
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (max-width: 1366px){
  .u11atrt,.u11atrtSend{
    width: 50%;
  }
}
@media screen and (max-width: 1014px){
  .u11atrr,button[class="u11atrcrBtn"],.u11atrcas,.u11delArtSumbit{
    width: 100px;
    font-size: 1em;
    height: 68px;
    padding-top: 2px;
    margin-left: auto;
  }
}
@media screen and (max-width: 788px){
  .u11atrt{
    width: 40%;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 631px){
  .u11atrt{
    width: 50%;
  }
  .onResponsive{
    display: block;
  }
  .onResponsiveIcon{
    height: 20px;
    width: auto;
  }
  .nonResponsive{
    display: none;
  }
  button[class="u11atrcrBtn"],.u11atrcas,.u11delArtSumbit{
    width: 50px;
    height: 50px;
  }
  .u11optionsContainer{
    text-align: right;
  }
  .u11atrtSend{
    font-size: 1.2em;
    width: calc(45% - 10px);
    margin-right: 10%;
    text-align: center;
    padding-left: 10px;
  }
}
@media screen and (max-width: 467px){
  .u11atrtSend{
    width: 40%;
    font-size: 0.9em;
    margin-right: 5%;
  }
  .u11atrr{
    font-size: 0.9em;
  }
}
@media screen and (max-width: 410px){
  .u11atrt{
    width: 40%;
    font-size: 1em;
    text-align: right;
  }
  button[class="u11atrcrBtn"],.u11atrcas,.u11delArtSumbit{
    margin-top: 10px;
  }
}
@media screen and (max-width: 342px){
  button[class="u11atrcrBtn"],.u11atrcas,.u11delArtSumbit{
    width: 40px;
    height: 40px;
  }
  .onResponsiveIcon{
    height: 16px;
    width: auto;
  }
}