@import url("statistic.css");
@import url("./uploadingSupport/imageUpload.css");
* {box-sizing: border-box;}

.onLoadCut {
  overflow: hidden;
}

@keyframes preloaderAnimation {
  0%{
    box-shadow: 10px 10px 10px #eee inset;
  }
  25%{
    box-shadow: 10px -10px 10px #eee inset;
  }
  50%{
    box-shadow: -10px -10px 10px #eee inset;
  }
  75%{
    box-shadow: -10px 10px 10px #eee inset;
  }
  100%{
    box-shadow: 10px 10px 10px #eee inset;
  }
}
#preloader {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: #000;
    transition: top 500ms linear 500ms;
}
.ourLogo{
  margin-left: auto;
  margin-right: auto;
  animation-name: preloaderAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  border-radius: 50%;
}
.ourLogo > img{
  transform: scale(0.8);
}
@media screen and (max-width: 583px)
{
  .onLoadNot{
    display: none;
  }
  .ourLogo{
    width: 50%;
    height: 50%;
  }
  .ourLogo > img{
    display: none;
  }
}

#u10bar{
  width: 100%;
  height: 10%;
  position: absolute; top: 0px; left: 0px;
}
#u10barContainer{
  width: 100%;
  height: 100%;
  background: url("../dark-grey-terrazzo.png");
  text-align: center;
  color: white;
  font-size: 250%;
  font-family: sans-serif;
  box-shadow: inset 4px 5px 5px #222;
}
#u11titles{
  width: 100%;
  height: 7%;
  position: absolute; top: 10%; left: 0px;
  background: #aaa;
}
#u11a,#u11s,#u11c,#u11w{
  width: 30%;
  height: 100%;
  color: white;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../connectwork.png");
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 160%;
  font-family: Verdana;
  box-shadow: inset 1px 1px 3px 3px #677;
  filter: brightness(100%);
}
#u11a:hover,#u11s:hover,#u11c:hover,#u11w:hover{
  filter: brightness(10%);
}
#u11a{
  position: absolute; top: 0px; left: 0px;
}
#u11s{
  width: 40%;
  position: absolute; top: 0px; left: 30%;
}
#u11c{
  position: absolute; top: 0px; left: 50%;
  display: none;
}
#u11w{
  position: absolute; top: 0px; left: 70%;
}
#u11asection,#u11ssection,#u11csection{
  width: 100%;
  height: 73%;
  display: none;
  position: absolute; top: 17%; left: 0px;
  transition: all 0.5s;
}
#u11atr{
  width: 100%;
  height: 7%;
  color: white;
}
.u11atr1{
  /*Background pattern from: subttlepatterns.com*/
  background: url("../curls.png");
}
.u11atr2{
  /*Background pattern from: subttlepatterns.com*/
  background: url("../curls.png");
}
#u11anh{
  width: 100%;
  height: 100%;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../connectwork.png");
  color: white;
  font-size: 200%;
  text-align: center;
  font-family: Verdana;
}
#u11wti,#u11wta,.u11wtga{
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: monospace;
}
#u11wti{
  margin-bottom: 2%;
  width: 100%;
}
.u11wtadesc{
  width: 100%;
}
#u11wtai,.u11wtgai{
  max-width: 60%;
  min-width: 60%;
  min-height: 150px;
  max-height: 150px;
  font-size: 50%;
  font-family: Times New Roman;
}
.u11wtgai{
  max-height: 75px;
  min-height: 75px;
}
.u11wtga{
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
#u11wsection{
  /*Background pattern from: subttlepatterns.com*/
  background: url("../tactile_noise.png");
  width: 100%;
  min-height: 83%;
  display: none;
  position: absolute; top: 17%; left: 0px;
  transition: all 0.5s;
}
#u11was{
  margin-top: 15px;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  font-size: 1.7em;
  font-family: Verdana;
  border: none;
  border-radius: 5px;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../curls.png");
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  filter: brightness(100%);
  padding: 5px;
}
#u11was:hover{
  filter: brightness(40%);
}
#u11atrt{
  color: white;
  font-family: Arial;
  font-size: 150%;
  width: 50%;
  height: 100%;
  text-align: center;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../spiration dark.png");
  position: absolute; top: 0px; left: 0px;
}
#u11atrr{
  width: 40%;
  height: 100%;
  position: absolute; top: 0px; left: 50%;
  border-radius: 5px;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../pipes.png");
  color: black;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
}
#u11atrcr,#u11atrcas,.u11delArtSumbit{
  width: 15%;
  height: 100%;
  position: absolute; top: 0px; left: 50%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*Background pattern from: subttlepatterns.com*/
  background: linear-gradient(rgba(11,11,11,.9),rgba(99,99,99,.9),rgba(11,11,11,.9));
  border-radius: 15px;
  cursor: pointer;
  filter: invert(0%);
  transition: all 0.5s;
  color: white;
  text-decoration: none;
  border: none;
}
#u11atrcr:hover,#u11atrcas:hover,.u11delArtSumbit:hover{
  filter: invert(100%);
}
#u11atrcas{
  left: 67%;
}
.u11delArtSumbit{
  left: 84%;
}
/*#u11atrcas{
  left: 5%;
  position: none;
  width: 95%;
  height: 99%;
  border: none;
}*/
#u11atrmo{
  width: 30%;
  height: 100%;
  color: white;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../dark-grey-terrazzo.png");
  position: absolute; top: 0px; left: 70%;
  font-size: 150%;
  font-family: sans-serif;
  border: none;
  border-radius: 50px;
  filter: sepia(0%) brightness(100%);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50px;
  display: none;
}
#u11atrca,#u11atrcr{
  display: block;
}
#u11atrresp{
  display: none;
}
#u3,#u4,#u5,#u6,#u7,#u8,#u9d{
  height: 100%;
}
.u11wtmain{
  margin-bottom: 20px;
}
.u11wttag{
  font-family: Arial;
  font-size: 1em;
  border: 1px solid #111;
  border-radius: 5px;
  background: #aaa;
  color: #111;
  cursor: pointer;
  margin-top: 5px;
}
#politicTag,#entertaimentTag,#scienceTag,#otherTag,#literatureTag{
  transition: all 0.5s;
}
#politicTag:hover,
#entertaimentTag:hover,
#scienceTag:hover,
#otherTag:hover,#literatureTag:hover{
  filter: brightness(70%);
}
.tagSigned{
  background: #888;
  color: #000;
  transform: scale(1.03);
  outline-color: #111;
  filter: brightness(160%);
}
.changeContainer{
  display: inline-block;
  cursor: pointer;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}
.bar1,.bar2{
  font-size: 1em;
  color: black;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  padding: 10px;
  /*Background pattern from: subttlepatterns.com*/
  background: url("../textured_paper.png");
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 3px;
}
.now{
  filter: brightness(70%);
}
.titleInput{
  border: none;
  background: rgba(255,255,255,.9);
  border-radius: 5px;
  font-size: 0.9em;
  font-family: 'Lato',sans-serif;
}
.imageUpload{
  display: none;
}
@media screen and (max-width: 1024px)
{
  #u11was{
    font-size: 1.4em;
  }
  .u11wasr{
    display: none;
  }
}
@media screen and (max-width: 768px){
  #u11a,#u11w{
    font-size: 0.9em;
  }
  #u11atrt{
    font-size: 0.9em;
  }
  #u11atrtnext{
    display: none;
  }
  #u11was{
    font-size: 1em;
  }
  #u11atrcas,#u11atrcr{
    font-size: 0.9em;
  }
  .u11wttag{
    font-size: 0.7em;
  }

}
@media screen and (max-width: 550px)
{
  #u11wsection{
    height: 87%;
  }
}
@media screen and (max-width: 493px)
{
  .u11atrcrr{
    display: none;
  }
}
@media screen and (max-width: 425px)
{
  #u11atrr{
    left: 55%;
    font-size: 1em;
    height: 100%;
  }
  #u11was{
    font-size: 0.5em;
  }
  #u11atrmo{
    display: block;
  }
  /*#u11atrca,#u11atrcr{
    width: 100%;
    left: 0px;
    top: 100%;
    display: none;
    z-index: 3;
  }*/
  #u11atrcr{
    margin-right: 10px;
  }
  #u11atrresp{
    display: block;
  }
  #u11atrca{
    left: 74%;
  }
  #u11atrcrr{
    display: none;
  }

}
@media screen and (max-width: 320px)
{
  /*#u11was{
    font-size: 1em;
  }*/
}
