@import url("keyframes.css");

.lining {
    width: 95%;
    height: 280px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    text-decoration: none;
}
a{
  text-decoration: none;
}

#u11article{
  width: 80%;
  height: 300px;
  margin-bottom: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}
#u11aofa,#u11aofae{
  font-size: 18px;
  font-family: Verdana;
  position: absolute;
  color: darkred;
  top: 78px;
  left: 58px;
}

#u11at,#u11ate{
  text-align: left;
  position: absolute; 
  top: 30px;
  left:55px;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  color: #333;
}
#u11aofae,#u11ate{
  width: 90%;
  text-align: center;
  position: absolute; left: 5%;
}
#u11av{
  width: 90%;
  height: 40%;
  font-family: Verdana;
  position: absolute; top: 44%; left: 58px;
  color: black;
  font-size: 1em;
}
.u11info,.u11tags{
  width: calc(90% - 10px);
  padding: 5px;
  font-family: "Lato", sans-serif;
  color: black;
  padding-left: 30px;
  position: relative;
}
.stats{
  position: relative;
  width: 100%;
  top: 77%;
}
.error{
  text-align: center;
  width: 80%;
  position: absolute;
}
.u11articleshowing{
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: absolute; top: -5%; left: 0%;
  display: none;
}
.u11list{
  display: block;
}
.going-up{
  animation-name: get-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@media screen and (max-width: 1077px)
{
  #u11av{
    font-size: 0.7em;
  }
  #u11aofa,#u11aofae{
    width: 100%;
    text-align: center;
    left: 0px;
  }
  #u11at,#u11ate{
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
  }
}
@media screen and (max-width: 913px){
  #u11av{
    left: 0px;
    padding: 10px;
    width: calc(100% - 20px);
    text-align: center;
  }
}
@media screen and (max-width: 740px){
  #u11article{
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 557px)
{
  #u11av{
    font-size: 0.6em;
  }
  .choosingBtn{
    font-size: 1em;
  }
  #u11article{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 460px){
  #u11article{
    width: 90%;
    left: 5%;
  }
  #u11choosing{
    top: 20px;  
  }
  .u11tags,.u11info{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .lining{
    width: 100%;
    padding: 0px;
  }
  #u11av{
    font-size: 0.45em;
  }
}
@media screen and (max-width: 380px){
  #u11article{
    margin-bottom: 30px;
  }
}